<h1>About</h1>
I am a 5th year undergrad at the <a href='http://ucsd.edu'>University of California, San Diego</a> studying computer science and biochemistry. Next year I will be a masters student in <a href='http://biology.ucsd.edu'>biology</a> doing genomic analysis of bacteria with <a href="http://biology.ucsd.edu/faculty/saier.html">Professor Milton Saier</a>.

<h2>Research Interests</h2>
I am interested in studying:
<ul>
	<li>Genomics</li>
	<li>Computational Drug Design</li>
	<li>Anything in Bioinformatics</li>
</ul>

<h2>Publications</h2>
Newhouse, E.I., D. Xu, P.R.L. Markwick, H.C. Pao, <b>K. J. Wu</b>, R.E. Amaro, M. Alam, J.A. McCammon, P.W.Arzberger, W.W. Li. Mechanism of Glycan Receptor Recognition and Specificity Switch for Avian, Swine and Human Adapted Influenza Virus Hemagglutinins: A Molecular Dynamics Perspective. J. Am. Chem. Soc., 2009, 131 (47), pp 17430–17442. <a href="http://pubs.acs.org/doi/abs/10.1021/ja904052q">DOI: 10.1021/ja904052q.</a>

<h2>Coursework</h2>
	<ul>
		<li>
			<a href="http://cseweb.ucsd.edu/classes/wi11/cse280a/">CSE 280A. Advanced Topics in Computational Molecular Biology</a> (<a href="http://www-cse.ucsd.edu/users/vbafna">Vineet Bafna</a>)
		</li>
	</ul>

<h2>Teaching</h2>
	<ul>
		<li>
			CSE 3. Fluency in Information Technology <br />
			Gary Gillespie. Winter 2010, Spring 2010 <br /> <br />
		</li>
		<li>	
			CSE 5A. Introduction to Programming <br />
			Gary Gillespie. Spring 2010; <a href="http://cseweb.ucsd.edu/users/smarx/">Susan Marx</a>. Summer 2010 <br /> <br />
		</li>
		<li>
			<a href="http://ieng6.ucsd.edu/~cs12x/">CSE 12. Basic Data Structures and Object-Oriented Design</a> <br />
			Gary Gillespie. Winter 2009, Spring 2009, Summer 2009, Fall 2009, Winter 2010 <br /> <br />
		</li>
		<li>
		CSE 15L. Software Tools and Techniques Laboratory <br />
		<a href="http://cseweb.ucsd.edu/~elkan/">Charles Elkan</a>. Fall 2010 <br /> <br />
		</li>
		<li>
			BILD 3. Organismic and Evolutionary Biology <br />
			<a href="http://biology.ucsd.edu/faculty/wills.html">Christopher Wills</a>. Spring 2010 <br /> <br />
		</li>
		<li>
			BILD 10. Fundamental Concepts of Biology <br />
			Par Towb. Winter 2008
		</li>
	</ul>
	
<h2>CV/Resume</h2>
My CV can be viewed here as html, or downloaded as a pdf here.

<h2>Other Interests</h2>
I spend my spare time <a href="#">taking pictures</a> or writing <a href="/projects">webapps and other software</a>. Sometimes I like to pretend that I <a href="http://www.cisforcookie.yelp.com">know about food</a>. Once upon a time, I was really into Rubik's cubing, and my fastest single solve in <a href="http://www.worldcubeassociation.org/results/p.php?i=2005WUKE01">competition was 15.60s</a>.

<h2>Thanks!</h2>
To my mom, my family, and my past advisors who include:
<ul>
	<li><a href="http://biology.ucsd.edu/faculty/saier.html">Dr. Milton Saier</a> who thought I was smart enough to take me as a masters student.</li>
	<li><a href="http://www.sdsc.edu/~wilfred/">Dr. Wilfred Li</a> who allowed me to get my feet wet in computational research and always pushed me to be rigorous.</li>
	<li><a href="http://www.dxulab.com/">Dr. Dong Xu</a> who always gave me chances to succeed and allowed me to work on awesome projects.</li>
	<li><a href="http://ieng6.ucsd.edu/~cs12x/">Gary Gillespie</a> who allowed me to work with him to educated the masses.</li>
