:markdown
  # About 
    I am a masters student at the [University of California, San Diego][1] studying [biology][2] with [Professor Milton Saier][3] and working on genomic analysis of bacteria.

  ## Research Interests
    *   Genomics
    *   Computational Drug Design
    *   Anything in Bioinformatics

  ## Coursework
    *   [CSE 280A. Advanced Topics in Computational Molecular Biology][4]. ([Vineet Bafna][5])
    *   [CSE 181. Molecular Sequence Analysis][6]. ([Pavel Pevzner][7])
    *   [CSE 182. Biological Data Analysis][8]. ([Vineet Bafna][5])
    *   CSE 184. Computational Molecular Biology. ([Wei Wang][9])
    *   BENG 183. Applied Genomic Technologies. ([Trey Ideker][10])

  ## Teaching
  
    *   CSE 3. Fluency in Information Technology
        *   Gary Gillespie. Winter 2010, Spring 2010  
        *   &nbsp;
        
    *   CSE 5A. Introduction to Programming
        *  Gary Gillespie. Spring 2010; [Susan Marx][11]. Summer 2010
        *   &nbsp;
    *   [CSE 12. Basic Data Structures and Object-Oriented Design][12]
        *  Gary Gillespie. Winter 2009, Spring 2009, Summer 2009, Fall 2009, Winter 2010
        *   &nbsp;

    *   CSE 15L. Software Tools and Techniques Laboratory
        *  [Charles Elkan][13]. Fall 2010
        *   &nbsp;

    *   BILD 3. Organismic and Evolutionary Biology
        *  [Christopher Wills][14]. Spring 2010
        *   &nbsp;

    *   BILD 10. Fundamental Concepts of Biology
        *  Par Towb. Winter 2008

  ## CV/Resume
  My CV can be viewed [here as html][15].

  ## Other Interests
  I spend my spare time [taking pictures][16] or writing [webapps and other software][17]. Sometimes I like to pretend that I [know about food][18]. Once upon a time, I was really into Rubik's cubing, and my fastest single solve in [competition was 15.60s][19].

  ## Thanks! 
  To my mom, dad, brother, and my past advisors who include:

  *   [Dr. Milton Saier][3] who thought I was smart enough to take me as a masters student.
  *   [Dr. Wilfred Li][20] who allowed me to get my feet wet in computational research and always pushed me to be rigorous.
  *   [Dr. Dong Xu][21] who always gave me chances to succeed and allowed me to work on awesome projects.
  *   [Gary Gillespie][12] who allowed me to work with him to educated the masses.

   [1]: http://ucsd.edu
   [2]: http://biology.ucsd.edu
   [3]: http://biology.ucsd.edu/faculty/saier.html
   [4]: http://cseweb.ucsd.edu/classes/wi11/cse280a/
   [5]: http://www-cse.ucsd.edu/users/vbafna
   [6]: http://cseweb.ucsd.edu/classes/sp10/cse181/
   [7]: http://cseweb.ucsd.edu/~ppevzner/
   [8]: http://cseweb.ucsd.edu/classes/fa09/cse182/
   [9]: http://wanglab.ucsd.edu/
   [10]: http://idekerlab.ucsd.edu/Pages/default.aspx
   [11]: http://cseweb.ucsd.edu/users/smarx/
   [12]: http://ieng6.ucsd.edu/~cs12x/
   [13]: http://cseweb.ucsd.edu/~elkan/
   [14]: http://biology.ucsd.edu/faculty/wills.html
   [15]: /cv
   [16]: #
   [17]: /projects
   [18]: http://www.cisforcookie.yelp.com
   [19]: http://www.worldcubeassociation.org/results/p.php?i=2005WUKE01
   [20]: http://www.sdsc.edu/~wilfred/
   [21]: http://www.dxulab.com/

