<h1>Contact</h1>
The best way to contact me is via email or by text.
<h2>Email</h2>
kjwu (at) ucsd (dot) edu
<h2>Phone</h2>
31-WU-KEVIN-0
<h2>Twitter</h2>
<a href="http://twitter.com/kevinwuhoo">kevinwuhoo</a>
<h2>Tumblr</h2>
<a href="http://blog.kevinformatics.com">Blog</a>