%h1 Contact
The best way to contact me is via email or by text.
%h2 Email
Put this line of code into your python interpreter to get my email. <br />
print "%s@%s.%s" % ("kjwu", "ucsd", "edu")
%h2 Phone
31-WU-KEVIN-0
%h2 Twitter
%a{:href => "http://twitter.com/kevinwuhoo"} kevinwuhoo
%h2 Tumblr
%a{:href => "http://blog.kevinformatics.com"} blog
