<h1>CV</h1>

<h2>Education</h2>
M.S. Biology. University of California, San Diego. Expected 2012. <br />
B.S. Biology. University of California, San Diego. 2011. <br />
B.S. Computer Science. University of California, San Diego. 2011. <br />

<h2>Experience</h2>
Undergraduate Researcher. <a href="http://www.cshl.edu/education/urp/urp-alumni-2011">Undergraduate Research Program (NSF-REU)</a>. Cold Spring Harbor Labratory. 2011. <br /> 
<ul>
  <li></li>
<ul> <br />
Teaching Assistant. <a href="http://cse.ucsd.edu">Department of Computer Science</a> and <a href="http://biology.ucsd.edu">Department of Biology</a>. University of California: San Diego, 2008-2011. <br />
<ul>
  <li>Tutor or teaching assistant for: CSE 3, CSE 5A, CSE 12, CSE 15L, BILD 3, BILD 10.</li>
<ul> <br />
Undergraduate Researcher. <a href="http://nbcr.net">National Biomedical Computation Resource</a>. University of California: San Diego, 2008-2010. <br />
<ul>
  <li>Assisted with a molecular dynamics study of influenza hemagglutinin. Conducted virtual screening on hemagglutinin.</li>
<ul> <br />
Undergraduate Researcher. <a href="http://ucsdstudents.calit2.net/sl-2009.php">Calit2 Summer Undergraduate Research Program</a>, University of California: San Diego, 2009. <br />
<ul>
  <li>Developed a COVISE plug-in for the Tiled Display Wall and Cave Automatic Virtual Environment to visualize molecular dynamics trajectories in streaming, real time.</li>
<ul> <br />
Undergraduate Researcher. <a href="http://prime.ucsd.edu/student_collections2008.htm">Pacific Rim Undergraduate Experiences</a>, University of California: San Diego & CNIC, Beijing, China, 2008. <br />
<ul>
  <li>Used computer aided drug design to find potential inhibitors for avian influenza hemagglutinin.</li>
<ul> <br />

<h2>Publications</h2>
Newhouse, E.I., D. Xu, P.R.L. Markwick, H.C. Pao, <em>K. J. Wu</em>, R.E. Amaro, M. Alam, J.A. McCammon, P.W.Arzberger, W.W. Li. Mechanism of Glycan Receptor Recognition and Specificity Switch for Avian, Swine and Human Adapted Influenza Virus Hemagglutinins: A Molecular Dynamics Perspective. J. Am. Chem. Soc., 2009, 131 (47), pp 17430–17442. <a href="http://pubs.acs.org/doi/abs/10.1021/ja904052q">DOI: 10.1021/ja904052q.</a>

<h2>Skills</h2>
Python, Java, C, Ruby on Rails, Git

<h2>Activities</h2>
Photographer. <a href="http://kevinwuphotography.com">Kevin Wu Photography</a>. <br />
Staff Photographer. <a href="http://www.ucsdguardian.org">The UCSD Guardian</a>, 2010-2011. <br />
Officer. UCSD Rubik's Cube Club. 2007-2009. <br />
