<h1>CV</h1>

<h2>Education</h2>
M.S. Biology. University of California, San Diego. Expected 2012. <br />
B.S. Biology. University of California, San Diego. 2011. <br />
B.S. Computer Science. University of California, San Diego. 2011. <br />