:markdown

  # CV
  
  ## Education
  M.S. Biology. University of California, San Diego. Expected 2012.  
  B.S. Biology. University of California, San Diego. 2011.  
  B.S. Computer Science. University of California, San Diego. 2011.  

  ## Experience
  Undergraduate Researcher. [Undergraduate Research Program (NSF-REU)][1]. Cold Spring Harbor Labratory. 2011.  
  <br />
  Teaching Assistant. [Department of Computer Science][2] and [Department of Biology][3]. University of California: San Diego, 2008-2011.  

  *   Tutor or teaching assistant for: CSE 3, CSE 5A, CSE 12, CSE 15L, BILD 3, BILD 10.
  *   &nbsp;
  
  Undergraduate Researcher. [National Biomedical Computation Resource][4]. University of California: San Diego, 2008-2010.

  *   Assisted with a molecular dynamics study of influenza hemagglutinin. Conducted virtual screening on hemagglutinin.
  *   &nbsp;
  
  Undergraduate Researcher. [Calit2 Summer Undergraduate Research Program][5], University of California: San Diego, 2009.

  *   Developed a COVISE plug-in for the Tiled Display Wall and Cave Automatic Virtual Environment to visualize molecular dynamics trajectories in streaming, real time.
  *   &nbsp;
  
  Undergraduate Researcher. [Pacific Rim Undergraduate Experiences][6], University of California: San Diego & CNIC, Beijing, China, 2008.

  *   Used computer aided drug design to find potential inhibitors for avian influenza hemagglutinin.

  ## Publications 
  Newhouse, E.I., D. Xu, P.R.L. Markwick, H.C. Pao, *K. J. Wu*, R.E. Amaro, M. Alam, J.A. McCammon, P.W. Arzberger, W.W. Li. Mechanism of Glycan Receptor Recognition and Specificity Switch for Avian, Swine and Human Adapted Influenza Virus Hemagglutinins: A Molecular Dynamics Perspective. J. Am. Chem. Soc., 2009, 131 (47), pp 17430–17442. [DOI: 10.1021/ja904052q.][7]
  
  ## Skills
  Python, Java, C, Ruby on Rails, Git

  ## Activities
  Photographer. [Kevin Wu Photography][8].  
  Staff Photographer. [The UCSD Guardian][9], 2010-2011.  
  Officer. UCSD Rubik's Cube Club. 2007-2009.  

   [1]: http://www.cshl.edu/education/urp/urp-alumni-2011
   [2]: http://cse.ucsd.edu
   [3]: http://biology.ucsd.edu
   [4]: http://nbcr.net
   [5]: http://ucsdstudents.calit2.net/sl-2009.php
   [6]: http://prime.ucsd.edu/student_collections2008.htm
   [7]: http://pubs.acs.org/doi/abs/10.1021/ja904052q
   [8]: http://kevinwuphotography.com
   [9]: http://www.ucsdguardian.org

