%h2
  :markdown
    Read [about me](/about) or [contact me](/contact).
%h2
  :markdown
    Looking for a [resume/cv](/cv)?
  
%h1 I love:
#love
  %a{:href => "http://blog.kevinformatics.com"}
    %h2#bioinf.hand Bioinformatics
  %h2#coding.hand Coding
  %h2#photography.hand Photography
#code.submenu.hide
  %h2
    %a{:href => "/projects"} Projects
    %a{:href => "http://github.com/kevinwuhoo"} Repository
#photo.submenu.hide
  %h2
    %a#underconstruction{:href => "#"} Personal
    %a{:href => "http://kevinwuphotography.com"} Commercial
/[if IE]
  <p id="ie">You are using some version of Internet Explorer which may not be rendering the page as it was intended.</p>

