:markdown

  #Projects
  A list of projects that I've worked on. The source of almost all projects are in my github.  
  If you'd like to collaborate or would like to hire me, [contact me]("/contact") and let me know!

  ##[Rage Curator](http://ragecurator.heroku.com)
  Automated management of the [RageCurator](http://twitter.com/ragecurator) twitter account. Scrapes comics from [Reddit](http://reddit.com/r/fffffffuuuuuuuuuuuu) for curation and automatically tweets at specified times. RageCurator is an account consisted of the best rage comics from the internet.

  ##[Luner Lander 3000](http://github.com/kevinwuhoo/lunerlander)
  I'm not sure why we gave it the version number "3000", but it's a rewritten [Lunar Lander](http://en.wikipedia.org/wiki/Lunar_Lander_(arcade_game\)) using accelerometers for controllers (Macbooks/iPhone compatible). Backend uses [Node.js](http://nodejs.org) and [Socket.IO](http://socket.io) for message passing. Game is rendered using HTML5 Canvas and [Raphaël.js](http://raphaeljs.com). This was written for Yahoo! HackU 2011 at UCSD with James Bui, Ricky Ng, and Matt Religioso.

  <h1>In β</h1>
  Projects which are not completed, but have major functionality available.  

  ##[Where To Eat](http://wheretoeat.heroku.com)
  A site which randomly decides on a place for you to eat! However, you can select categories, price, and distance to fit your needs. This is for those people with groups of friends who can never decide on where to eat! Data is scraped from [Yelp](http://yelp.com).  

  ##[Play Reddit](http://playreddit.heroku.com)
  For those who enjoy discovering music via [Reddit](http://reddit.com). It allows you to select one or more subreddits and allows you to listen to all song from these subreddits with no intervention! 