$width: 900px;
$background: #FFFFFF;
$offwhite: #F3ECE2;
$text: #000003;
$red: #EE3D40;

html{
	background: $background;
	height:100%;
}

body{
	font-family: 'PT Sans', arial, serif;
	font-size: 16px;
	padding-bottom: 2em;
	line-height: 1.1em;
}

#wrapper{
	width: $width;
	margin: 0 auto; 
	margin-top: 1em;
	//border: black solid;
}

header {
	padding: 30px 40px 20px;
	background: $offwhite;
	height: 70px;
}

a{
	color: $red;
	text-decoration:none;
}

a:hover{
	color: $text;
	background: $red;
}

#name {
	color: $text;
	font-family: 'PT Serif', arial, serif;
	font-size: 70px;
	color: $text;
}

#name:hover {
	background: none;
}

h1 {
	font-family: 'PT Sans Caption', arial, serif; 
	font-size: 40px;
	line-height: 1.5em;
}

h2 {
	font-family: 'PT Sans Caption', arial, serif; 
	font-size: 20px;
	line-height: 1.5em;
	margin-top: 1em;
}

li {
	margin-left: 1em;
}

a#underconstruction {
	color: lighten($red, 20%);
	text-decoration: line-through;
}