$width: 900px;
$background: #FFFFFF;
$offwhite: #F3ECE2;
$text: #000003;
$red: #EE3D40;

html{
	background: $background;
	height:100%;
	font-family: 'PT Sans', arial, serif;
	font-size: 16px;
}

body{
	padding-bottom: 2em;
}

#wrapper{
	width: $width;
	margin: 0 auto; 
	margin-top: 1em;
	//border: black solid;
}

header {
	padding: 20px 40px;
	background: $offwhite;
	height: 70px;
}

#name {
	//font-family: 'Droid Sans', arial, serif;
	font-family: 'PT Serif', arial, serif;
	font-size: 70px;
	color: $text;
}

a{
	color: $red;
	text-decoration:none;
}

a:hover{
	color:$text;
	background:$red;
}

h1 {
	font-family: 'PT Sans Caption', arial, serif; 
	font-size: 40px;
	line-height: 1.5em;
}

h2 {
	font-family: 'PT Sans Caption', arial, serif; 
	font-size: 20px;
	line-height: 1.5em;
	margin-top: 1em;
}

li {
	margin-left: 1em;
}