html {
  margin: 10px;
}

table {
  font-family: arial, verdana, sans-serif;
}

tr:nth-child(odd) {
  background-color:#a9cdeb
}
 
tr:first-child {
  background-color:#ffb90f
}
 
td {
  padding: 20px;
}

div {
  border: solid 1px black;
  padding: 10px;
  margin: 20px;
}
